body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 20px;
}

h2,
h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    max-width: 500px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.flashcard-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flashcard-container div {
    width: 48%;
}

.option-container {
    margin-bottom: 1rem;
}

.option-container input[type="radio"] {
    margin-right: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#flashcards-list {
    margin-top: 20px;
    max-width: 600px;
    margin: 0 auto;
}

#flashcards-list .flashcard-item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Home button styling */
#home-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

#home-btn:hover {
    background-color: #0056b3;
}