body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 20px;
}

h2,
h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    max-width: 600px;
    /* Controls the width of the text input fields */
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.flashcard-container {
    display: flex;
    flex-direction: column;
    /* Removed grid layout */
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 800px;
    /* Increased to provide ample space */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flashcard-container div {
    margin-bottom: 1rem;
}

.flashcard-container div label {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.flashcard-container div textarea {
    width: 100%;
    max-width: 600px;
    height: 100px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
}

.option-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* Adds spacing between radio button and input */
}

.option-container input[type="radio"] {
    margin-right: 0.5rem;
}

.option-container input[type="text"] {
    flex: 1;
    /* Makes the input expand */
    width: 100%;
    max-width: 600px;
    /* Matches the overall input width */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#flashcards-list {
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
}

#flashcards-list .flashcard-item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Home button styling */
#home-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

#home-btn:hover {
    background-color: #0056b3;
}

/* Centering .set-details-container */
.set-details-container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto 1rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}